block content
  #main
    #atasan
      #navbar.ui.secondary.menu
        a#text.active.item
          | Home
        a(href='/averagePresence').item
          | Average Presence
        .right.menu
          .item
            .ui.icon.input
              input(type='text' placeholder='Search...')
              i.search.link.icon
            .ui.simple.dropdown.item
              i#setting.cog.icon
              i.dropdown.icon
              .menu
                .item
                  i.user.icon
                  | Profile
                .item
                  i.cog.icon
                  a#logout(href='/setting')
                    | Setting
                .divider
                .item
                  i.sign-out.icon
                  a#logout(href='/')
                    | Logout