
#mySidebar.sidebar(onmouseover='toggleSidebar()' onmouseout='toggleSidebar()')
  a#sidebar(href='/dashboard')
    i#item.home.icon
    span#teks.icon-text Home
  a#sidebar(href='/attendance')
    i#item.calendar.check.icon
    span#teks.icon-text Attendance
  a#sidebar(href='/student')
    i#item.graduation.cap.icon
    span#teks.icon-text Student
  a#sidebar(href='/users')
    i#item.user.circle.outline.icon
    span#teks.icon-text Users
  a#sidebar(href='/setting')
    i#item.cog.icon
    span#teks.icon-text Settings