extends ../layout

block content
  #main
    #atasan
      #navbar.ui.secondary.menu
        a#text.active.item
          | Home
        a(href='/averagePresence').item
          | Average Presence
        .right.menu
          .item
            .ui.icon.input
              input(type='text' placeholder='Search...')
              i.search.link.icon
            .ui.simple.dropdown.item
              i#setting.cog.icon
              i.dropdown.icon
              .menu
                .item
                  i.user.icon
                  | Profile
                .item
                  i.cog.icon
                  a#logout(href='/setting')
                    | Setting
                .divider
                .item
                  i.sign-out.icon
                  a#logout(href='/')
                    | Logout
    #card
      table.ui.celled.structured.table
        thead
          tr
            th(rowspan='2') No.
            th(rowspan='2') Student Name
            th(rowspan='2') Class
            th(rowspan='2') Date
            th.statusPresence(rowspan='2') Status Presence
            th(colspan='5') Last Presence
          tr
            th 1
            th 2
            th 3
            th 4
            th 5
            
        tbody
          tr
            td.center.aligned 1
            td 
              a#student(href='/' title='clik for detail')
                | Hans Hans
            td.center.aligned XI RPL 1
            td.center.aligned 24-May-2021
            td.center.aligned
              button.btn.btn.default.btn-present-one
                i.fas.fa-check
                |   PRESENT
              button.btn.btn.default.btn-absent-one
                i.close.icon.one
                |   ABSENT
              button.btn.btn.default.btn-late-one
                i.exclamation.circle.icon
                |   LATE
            td
              .checklist
                i.check.icon
            td
              .checklist
                i.check.icon
            td
              .close
                i.close.icon
            td
              .minus
                i.minus.icon
            td
              .checklist
                i.check.icon
          tr
            td.center.aligned 2
            td 
              a#student(href='/' title='clik for detail')
                | Rafi
            td.center.aligned XI RPL 1
            td.center.aligned 24-May-2021
            td.center.aligned
              button.btn.btn.default.btn-present-two
                i.fas.fa-check
                |   PRESENT
              button.btn.btn.default.btn-absent-two
                i.close.icon.two
                |   ABSENT
              button.btn.btn.default.btn-late-two
                i.exclamation.circle.icon
                |   LATE
            td
              .close
                i.close.icon
            td
              .checklist
                i.check.icon
            td
              .checklist
                i.check.icon
            td
              .checklist
                i.check.icon
            td
              .minus
                i.minus.icon
          tr
            td.center.aligned 3
            td 
              a#student(href='/' title='clik for detail')
                | Lucky
            td.center.aligned XI RPL 1
            td.center.aligned 24-May-2021
            td.center.aligned
              button.btn.btn.default.btn-present-three
                i.fas.fa-check
                |   PRESENT
              button.btn.btn.default.btn-absent-three
                i.close.icon.three
                |   ABSENT
              button.btn.btn.default.btn-late-three
                i.exclamation.circle.icon
                |   LATE
            td
              .checklist
                i.check.icon
            td
              .minus
                i.minus.icon
            td
              .minus
                i.minus.icon
            td
              .close
                i.close.icon
            td
              .checklist
                i.check.icon
          tr
            td.center.aligned 4
            td 
              a#student(href='/' title='clik for detail')
                | Dani
            td.center.aligned XI RPL 1
            td.center.aligned 24-May-2021
            td.center.aligned
              button.btn.btn.default.btn-present-four
                i.fas.fa-check
                |   PRESENT
              button.btn.btn.default.btn-absent-four
                i.close.icon.four
                |   ABSENT
              button.btn.btn.default.btn-late-four
                i.exclamation.circle.icon
                |   LATE
            td
              .checklist
                i.check.icon
            td
              .checklist
                i.check.icon
            td
              .checklist
                i.check.icon
            td
              .close
                i.close.icon
            td
              .minus
                i.minus.icon
    .ui.inverted.vertical.footer.segment#footer-dashboard
      .ui.container#company
        | Copyright © 2021 Amal Solution