extends layout-nns

block content 
  .ui.grid.middle.aligned.segment.inverted(style='height: 100%; margin: 0;')
    .ui.column.center.aligned
      .ui.inverted.statistic
        .value#header 404
        .label Page Not Found
      .ui.message.black.inverted
        .header#head Looks like the page you were looking for is no longer here. I suggest you back to Homepage
        a(href='/dashboard')
          button.huge.ui.button Home