html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    base(href="/")
    title= title
    block style 
      include style
    block script 
      include library 
  body
    block content