.cardd{
    width: 25% !important;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(90%);
    color: #000;
}

h1{
    text-align: center;
    margin-bottom: -5px !important;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 30px !important;
    opacity: 0.7;
}

input{
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
}

span{
    color: #4e4efd ;
    cursor: pointer;
}

span:hover{
    color: #2d2df8 ;
}

#slider{
    margin-top: 1cm;
}

.send{
    text-align: center;
    margin-top: 1cm;
}

input {
    border-top: 0 none !important;
    border-left: 0 none !important;
    border-right: 0 none !important;
    box-shadow: none;
}

/* CSS for Dashboard */
body{
    font-size: 15px !important;
}
  
#navbar{
    background-color: rgb(240, 239, 239);
    width: 100%;
}
  
#card{
    margin-top:0.4cm ;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#atasan{
  width: 100%;
}
  
#setting{
    font-size: 20px;
    opacity: 0.8;
    padding-right:20px;
}

td{
  vertical-align: middle !important;
}

th{
    text-align: center !important;
    vertical-align: middle !important;
}
  
#text{
    margin-left: 30px !important  ;
}
  
.checklist, .close, .minus{
  text-align: center !important;
}

.checklist{
  color: rgb(32, 180, 57);
}

.close{
  color: #ED4337
}

.minus{
  color: #FFCC00
}
  
i#setting{
    padding-left: 15px;
}

a#logout, a#student{
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.8);
}

th.statusPresence{
  width: 500px !important;
}

/* .btn-active{
  display: none;
} */

.btn-present{
  margin-right: 6px;
}

/* .btn-late{
  margin-left: -6px !important;
} */

.input-present{
  background-color: #eaeaea;
  width: 5rem;
  height: 3rem;
}

/* Sidebar */

body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 85px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 60px;
    white-space: nowrap;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar span:hover {
    color: #f1f1f1;
  }

  
  main .sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #item,
  #text {
    vertical-align: middle;
    margin-top: 7px;
  }
  
  #item {
    padding-bottom: 3px;
    margin-right: 30px;
    color: #818181;
  }
  
  #main {
    margin-left: 70px;
    transition: margin-left 0.5s;
  }

  .icon-text {
    font-size: 20px;
    font-family: 'poppins' !important;
  }
  
  @media screen and (max-height: 450px) {

    .sidebar a {
      font-size: 18px;
    }
  }

a#sidebar:hover{
  color: #fff;
}

a#sidebar{
  margin-top: 20px;
}

span#teks{
  text-decoration: none;
  color: gray;
}

span#teks:hover{
  color: white !important;
}

i#item{
  margin-top: -15px !important;
}

  
/* Section 404 Page */
.ui.grid.middle.aligned.segment.inverted{
  height: 100%; 
  margin: 0;
}

.header#head{
  font-size: 20px;
  font-family: 'poppins';
  font-weight: 400;
  margin-bottom: 20px;
}

button.huge.ui.button{
  width: 85px !important;
  height: 45px !important;
  font-size: 15px !important;
  background-color: rgb(73, 73, 73);
  color: rgb(230, 230, 230);

}

button.huge.ui.button:hover{
  background-color: rgb(104, 104, 104);
}

.value#header{
  font-size: 100px !important;
}

/* Footer  */

@media (min-height: 320px) {
  .ui.footer.form-page { /* Increased specificity for SO snippet priority */
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

#footer-dashboard{
  margin-top: 517px;
  background-color: #eaeaea;
  color: #000;
  width: 100%;
  overflow: hidden;
}

#footer-average{
  margin-top: 564px;
  background-color: #eaeaea;
  color: #000;
  width: 100%;
}

#footer-student{
  width: 100%;
  background-color: #eaeaea;
  color: #000;
  margin-top: 40px;
}

.ui.container{
  text-align: center;
}

.ui.card{
  width:98% !important;
  margin: auto !important;
  margin-top: 2% !important;
}

img{
  width: 150px !important;
  margin-left: 5% !important;
 
}

span.category{
  color: #818181;
  font-size: 15px !important;
}

.content{
  margin-left: 10% !important;
  margin-top:5% !important;
  font-size: 20px;
}

table.ui.celled.striped.table{
  height: 100% !important;
}

table#detail{
  width: 500px !important;
  margin-left: 3% !important;
}

table#presence{
  width: 500px !important;
}