body{
  font-size: 15px !important;
}

#navbar{
  /* margin-top: 10px !important;
  margin-left: 15px !important;
  margin-right: 5px !important; */
  background-color: rgb(240, 239, 239);
  width: 100%;
}

#card{
  margin-left:23px  ;
  margin-right:23px  ;
  margin-top:0.4cm ;
}

#setting{
  font-size: 20px;
  opacity: 0.8;
  padding-right:20px;
}

th{
  text-align: center !important;
}

#text{
  margin-left: 30px !important  ;
}

#checklist{
  color: rgb(32, 180, 57);
}

#minus{
  color: #FFCC00;
}

#close{
  color: #ED4337;
}

i{
  padding-left: 15px;
}