extends ../layout

block content
  #main
    #atasan
      #navbar.ui.secondary.menu
        a#text.item(href='/dashboard')
          | Home
        a(href='/averagePresence').active.item
          | Average Presence
        .right.menu
          .item
            .ui.icon.input
              input(type='text' placeholder='Search...')
              i.search.link.icon
            .ui.simple.dropdown.item
              i#setting.cog.icon
              i.dropdown.icon
              .menu
                .item
                  i.user.icon
                  | Profile
                .item
                  i.cog.icon
                  | Setting
                .divider
                .item
                  i.sign-out.icon
                  a#logout(href='/')
                    | Logout
    #card
      table.ui.celled.structured.table
        thead
          tr
            th(rowspan='2') No.
            th(rowspan='2') Student Name
            th(rowspan='2') Class
            th(colspan='12') Month
          tr
            th Jan
            th Feb
            th Mar
            th Apr
            th May
            th Jun
            th Jul
            th Aug
            th Sep
            th Oct
            th Nov
            th Des
            
        tbody
          tr
            td.center.aligned 1
            td 
              a#student(href='/' title='clik for detail')
                | Hans Hans
            td.center.aligned XI RPL 1
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td -
            td -
            td -
            td -
          tr
            td.center.aligned 2
            td 
              a#student(href='/' title='clik for detail')
                | Rafi
            td.center.aligned XI RPL 1
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td -
            td -
            td -
            td -
          tr
            td.center.aligned 3
            td 
              a#student(href='/' title='clik for detail')
                | Lucky
            td.center.aligned XI RPL 1
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td -
            td -
            td -
            td -
          tr
            td.center.aligned 4
            td 
              a#student(href='/' title='clik for detail')
                | Dani
            td.center.aligned XI RPL 1
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td 100%
            td -
            td -
            td -
            td -
  .ui.inverted.vertical.footer.segment#footer-average
      .ui.container#company
        | Copyright © 2021 Amal Solution
