extends ../layout-nns

block content
  .cardd
    form.ui.form
      h1 PRESENCE - PKL
      .ui.divider
      .field
        .ui.left.icon.input
          input(type='text', placeholder='Username . . .', required)
          i.user.icon
      .field
        .ui.left.icon.input
          input(type='password', placeholder='Password . . .', required)
          i.key.icon
      .send
        a.ui.button(href='/dashboard') login

