extends ../layout

block content
  #main
    #atasan
      #navbar.ui.secondary.menu
        a#text.active.item
          | Home
        a(href='/averagePresence').item
          | Average Presence
        .right.menu
          .item
            .ui.icon.input
              input(type='text' placeholder='Search...')
              i.search.link.icon
            .ui.simple.dropdown.item
              i#setting.cog.icon
              i.dropdown.icon
              .menu
                .item
                  i.user.icon
                  | Profile
                .item
                  i.cog.icon
                  a#logout(href='/setting')
                    | Setting
                .divider
                .item
                  i.sign-out.icon
                  a#logout(href='/')
                    | Logout
    #card
      .ui.card
        .ui.grid
          .two.wide.column
            img(src='icon.png')
          .two.wide.column
            .content
              .header Hans Han
              .meta
                span.category Front-End Developer
          .six.wide.column
            table#detail.ui.celled.table
              tbody
                tr
                  td Age
                  td 17
                tr
                  td Place date of birth
                  td Bandung, April-10-2004
                tr
                  td School Origin
                  td SMKN 4 Bandung 
                tr
                  td Class
                  td XI RPL 1
          .four.wide.column
            table#presence.ui.celled.striped.table
              thead
                tr
                  th(colspan='5')
                    | Last Presence
              tbody
                tr
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
      .ui.card
        .ui.grid
          .two.wide.column
            img(src='icon.png')
          .two.wide.column
            .content
              .header Lucky
              .meta
                span.category Front-End Developer
          .six.wide.column
            table#detail.ui.celled.table
              tbody
                tr
                  td Age
                  td 17
                tr
                  td Place date of birth
                  td Bandung, April-10-2004
                tr
                  td School Origin
                  td SMKN 4 Bandung 
                tr
                  td Class
                  td XI RPL 1
          .four.wide.column
            table#presence.ui.celled.striped.table
              thead
                tr
                  th(colspan='5')
                    | Last Presence
              tbody
                tr
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
      .ui.card
        .ui.grid
          .two.wide.column
            img(src='icon.png')
          .two.wide.column
            .content
              .header Rafi
              .meta
                span.category Front-End Developer
          .six.wide.column
            table#detail.ui.celled.table
              tbody
                tr
                  td Age
                  td 17
                tr
                  td Place date of birth
                  td Bandung, April-10-2004
                tr
                  td School Origin
                  td SMKN 4 Bandung 
                tr
                  td Class
                  td XI RPL 1
          .four.wide.column
            table#presence.ui.celled.striped.table
              thead
                tr
                  th(colspan='5')
                    | Last Presence
              tbody
                tr
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
      .ui.card
        .ui.grid
          .two.wide.column
            img(src='icon.png')
          .two.wide.column
            .content
              .header Dani
              .meta
                span.category Front-End Developer
          .six.wide.column
            table#detail.ui.celled.table
              tbody
                tr
                  td Age
                  td 17
                tr
                  td Place date of birth
                  td Bandung, April-10-2004
                tr
                  td School Origin
                  td SMKN 4 Bandung 
                tr
                  td Class
                  td XI RPL 1
          .four.wide.column
            table#presence.ui.celled.striped.table
              thead
                tr
                  th(colspan='5')
                    | Last Presence
              tbody
                tr
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
                  td.collapsing
                    .checklist
                      i.check.icon
    .ui.inverted.vertical.footer.segment#footer-student
      .ui.container#company
        | Copyright © 2021 Amal Solution

